body h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
}

#minesweeper {
    text-align: center;
}

#minesweeper table {
    margin-top: 10px;
    border-spacing: 0;
}

#minesweeper table tr td {
    widows: 10px;
    height: 10px;
    background: black;
    border: 1px solid darkblue;
    margin: 0;
}